
.container {
  width: 90vw;
  max-width: 360px;
  height: 128px;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  align-items: flex-start;
  width: 90vw;
  max-width: 360px;
  height: 100vh;
  max-height: 128px;
  background-color: rgb(53, 64, 71);
  border-radius: 7px;
  overflow: hidden;
  z-index: 0;
  
  &--is-collapsed {
    cursor: pointer;
    transition: background-color 150ms ease, box-shadow 150ms ease, transform 150ms ease;
    &:hover {
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
      background-color: rgb(72, 87, 97);
      transform: translate(-5px, -5px);
    }
  }

  &--is-expanded {
    position: fixed;
    z-index: 99;
  }
}

.article-header {
  display: flex;
}

.detail-view-bg {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  
  &--is-visible {
    pointer-events: all;
  }
}

.image {
  margin: 0;
  line-height: 0;

  > img {
    width: 128px;
    height: 128px;
    object-fit: cover;
  }
}

.content {
  padding-left: 25px;
  padding-right: 25px;
}
