.detail-view {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
  height: 100%;
  padding: 24px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
}

.list {
  padding-left: 16px;
  
  > * {
    margin-bottom: 12px;
  }
}

.button {
  display: block;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  padding: 12px 24px;
}

.link {
  color: white;

  &:hover {
    text-decoration: none;
  }
}