@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Kumbh Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.headline {
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 4px solid #00bdb3;
}

:global {
  body {
    background-color: rgb(38, 45, 54);
    color: white;
  }

  h1 {
    text-transform: uppercase;
  }

  h1, h2, h3, h4, h5 {
    font-weight: 300;
  }
}
